.info-container{
    border: 0.5px solid gray;
    border-radius: 4px;
    width: 75%;
    height: auto;
    box-shadow: 10px 20px solid gray;
    position: relative;
    line-height: 1px;
}

.name-decorators-top
{
    border-bottom: 20px solid red;
    border-right: 10px solid transparent;
    position: relative;
    right: 0;
    top: 0;
    z-index: 0; 
    height: 100%;
    width: 25%;
}

.name-decorators-bottom
{
    border-top: 20px solid blue;
    border-left: 10px solid transparent;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    height: 100%;
    width: 25%;
}
